.product-continar{
    padding: 25px 50px;
}
.products-cards{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 73px;
}
.card{
    margin: 15px 0px;
    width: 300px;
    height: 300px;
    background: rgb(201, 201, 201);
    border-radius: 20px;
}
.card button{
    border: none; 
    background-color: transparent;
}
.card-img{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.card-cart{
    width: 100px;
}
.card-cart:hover{
    background-color: rgb(174, 174, 174);
    border-radius: 25px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 20px;
}
.card-name a{
    text-decoration: none;
    color: black;
}
.footerbase{
    height: 100px;
    width: 100%;
    background: rgb(6, 172, 255);
    direction: rtl;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}
.footerbase p{
    font-weight: bold;
    margin: 25px;
}