{% extends "layout/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
{% block stylesheets %}
    <link rel = 'stylesheet' href = "{% static 'CSS/home.css' %}">
{% endblock stylesheets %}

    <div class='product-continar'>
        <h1>PRODUCTS</h1>
    </div>
    <div class='products-cards'>
        {% for p in product%}
        <div class='card'>
            <img class='card-img' src="{% static '/image/demo.png' %}" />
            <div class='card-info'>
                <div class='card-name'>
                    <p>{{p.company}}</p>
                    <a href="{% url 'product' id=p.id %}"><h3>{{p.p_name}}</h3></a>
                </div>
                <form method='post'>{% csrf_token %}
                    <button type=submit name='dataproduct' value="{{p.id}}"><img class='card-cart' src="{% static '/image/cart.png' %}"/></button>
                </form>                  
            </div>
        </div>
        {% endfor %}
    </div>    
{% endblock content %}