{% extends "layout/base2.html" %}
{% load static %}
{% block title %}login{% endblock title %}

{% block content %}
{% block stylesheet %}
    <link rel = 'stylesheet' href = "{% static 'CSS/formstyle.css' %}">
{% endblock stylesheet %}
    <form class='addproduct-base' method='post'>{% csrf_token %}
        <h1>Please Login!</h1>
        <label>{{form.username.label}}:</label>
        {{form.username}}
        <label>{{form.password.label}}:</label>
        {{form.password}}
        <button>Submit</button>
    </form>
{% endblock content %}