{% extends "layout/base2.html" %}
{% load static %}

{% block title %} {{product.p_name}} {% endblock title %}

{% block content %}
{% block stylesheets %}
    <link rel = 'stylesheet' href = "{% static 'CSS/product.css' %}">
{% endblock stylesheets %}
    <div class='product-base'>
        <div>
            <h1>Name: {{product.p_name}}</h1>
            <h1>Company: {{product.company}}</h1>
            <h1>Price: {{product.price}}</h1>
            <div class='product-btn'>
                <form method='post'>{% csrf_token %}
                    <button type=submit name='dataproduct' value="{{product.id}}">ADD TO CART</button>
                </form>
                <form method='post' action="/update">{% csrf_token %}
                    <button type=submit name='dataproduct' value="{{product.id}}">Update</button>
                </form>
                <form method='post' action="/deleteproduct">{% csrf_token %}
                    <button type=submit name='dataproduct' value="{{product.id}}" style ='background-color: red;'>DELETE</button>
                </form>
            </div>
            
        </div>
        <div class='product-img'>
        {% if product.p_image %}
        <img class='product-img' src = "{{ product.p_image.url }}" alt="product image"/>
        {% else %}
        <img class='product-img' src="{% static '/image/demo.png' %}" />
        {% endif %}
        </div>
    </div>
    
{% endblock content %}
