{% extends "layout/base.html" %}

{% block title %}Add Product{% endblock title %}

{% block content %}
    <form method='post'>{% csrf_token %}
        <label>Product ID</label>
        <input type='number' name='p_id'><br>
        <label>Product Name</label>
        <input type='text' name='p_name'><br>
        <label>Company Name</label>
        <input type='text' name='c_name'><br>
        <label>Count</label>
        <input type='text' name='count'><br>
        <label>Image Number</label>
        <input type='text' name='img_num'><br>
        <input type='submit'>
    </form>
{% endblock content %}